<a href="https://colab.research.google.com/github/kishan4935/Data-Preprocessing/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dependencies

In [ ]:
import pandas as pd 
import re
from numpy import fabs

#Drive Imports

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Drive Read(Ignoring bad Line)

In [ ]:
mydata = pd.read_csv('/content/drive/MyDrive/Dataset/agr_hi_dev.csv', on_bad_lines='skip')

In [ ]:
cols = mydata.columns
mydata.rename(columns = {cols[0]: 'col0', cols[1]:'col1', cols[2]:'col2'}, inplace = True)

In [ ]:
mydata.head()

,col0,col1,col2
0,facebook_corpus_msr_690306,First stage par dus jootey khaye Grover se,OAG
1,facebook_corpus_msr_382520,Salman aur aamir ki kounsi movie release huyee...,OAG
2,facebook_corpus_msr_401748,Wk aur bhakt aa gya. Abe americans ka bolna h...,CAG
3,facebook_corpus_msr_656339,Beta to tu apne baap ka hai ...permission to t...,NAG
4,facebook_corpus_msr_444035,Garibo Kay pas 1000 Kay note bhe nahi hotay vo...,NAG

In [ ]:
mydata= mydata.drop('col0', 1)
mydata.head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

                                                col1 col2
0        First stage par dus jootey khaye Grover  se  OAG
1  Salman aur aamir ki kounsi movie release huyee...  OAG
2  Wk aur bhakt aa gya.  Abe americans ka bolna h...  CAG
3  Beta to tu apne baap ka hai ...permission to t...  NAG
4  Garibo Kay pas 1000 Kay note bhe nahi hotay vo...  NAG

#preprocessing

In [ ]:
#remove Emoji
!pip install clean-text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: clean-text in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: emoji<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from clean-text) (1.7.0)
Requirement already satisfied: ftfy<7.0,>=6.0 in /usr/local/lib/python3.7/dist-packages (from clean-text) (6.1.1)
Requirement already satisfied: wcwidth>=0.2.5 in /usr/local/lib/python3.7/dist-packages (from ftfy<7.0,>=6.0->clean-text) (0.2.5)

In [ ]:
#remove url
def remove_urls (text):
    text = re.sub(r"\S*https?:\S*", "", text)
    return(text)

In [ ]:
# remove punctuations
def remove_punctautions(text):
  text = re.sub('[()!?]', ' ', text)
  text = re.sub('\[.*?\]', ' ', text)
  return text

In [ ]:
# keeping alphabets only
def remove_numbers(text): 
  text = re.sub('[^a-zA-Z]+',' ', text)
  # text = re.findall("@([a-zA-Z0-9_]{1,50})", text)
  # text = re.findall("#([a-zA-Z0-9_]{1,50})", text)
  return text

In [ ]:
# remove emojis
from cleantext import clean
def cleanEmoji(text):
  return clean(text,no_emoji=True)

In [ ]:
# cleaning data
tweets = mydata['col1']
for i in range(len(tweets)):
  tweets[i] = remove_urls(str(tweets[i]))
  tweets[i] = remove_punctautions(tweets[i])
  tweets[i] = remove_numbers(str(tweets[i]))
  tweets[i] = cleanEmoji(tweets[i])

tweets = tweets.dropna()

In [ ]:
mydata.shape
mydata['col1'] = tweets
mydata.drop_duplicates(subset='col1', inplace=True)
mydata.shape

(2297, 2)

In [ ]:
mydata

                                                   col1 col2
0            first stage par dus jootey khaye grover se  OAG
1     salman aur aamir ki kounsi movie release huyee...  OAG
2     wk aur bhakt aa gya abe americans ka bolna h k...  CAG
3     beta to tu apne baap ka hai permission to tu m...  NAG
4     garibo kay pas kay note bhe nahi hotay voh ya ...  NAG
...                                                 ...  ...
2908  agar sarkar ne ab bhi kush nahi kia to ak din ...  CAG
2909  kuch bhi nahi kiya par ek kaam kiyaa vo ki sab...  CAG
2910  yaar isliye to jansatta unfollow kiya tha ab t...  CAG
2911  ye log na to janneta kahlane layak hai na hi i...  OAG
2912  bank se aur is govt se logo ka bharosa uth gay...  OAG

[2297 rows x 2 columns]

#Import Result into CSV File

In [ ]:
mydata.to_csv("/content/drive/MyDrive/Pre data/preprocessed_data.csv", index=False)